<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoxClub</title>
</head>
<p><a href="login">Information</a></p>
<img src="greenfox1.png" alt="Smiley face" height="200" width="200">
<body>

<p th:object="${fox}" th:text="'This is ' + *{name}+' living on '+ *{food} +' and ' + *{drink} + ' . He knows '+ *{tricks.size()}+ ' tricks.'"></p>

<h2>Known Tricks</h2>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>

