<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoxClub</title>
</head>
<p><a href="login">Information</a></p>
<img src="greenfox1.png" alt="Smiley face" height="200" width="200">
<body th:style="'text-align:center;'">

<p th:object="${fox}" th:text="'This is ' + *{name}+' living on '+ *{food} +' and ' + *{drink} + ' . He knows '+ *{tricks.size()}+ ' tricks.'"></p>

<h2>Known Tricks</h2>
<ul th:if="${fox.getTricks().isEmpty()}">
    <p th:text="'You know no tricks yet. Go and lear some'"></p>
</ul>
<a th:href="@{'nutritionstore?name=' + ${fox.name}}">Nutrition Store</a>
</body>
</html>

