<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Login</title>-->
    <!--<h1>Welcome to Programmers Fox Club!</h1>-->
<!--</head>-->
<!--<body>-->
<!--<p> Please provide a name, so you can associate in to your pet!</p>-->
<!--<form action="post "method="/login"></form>-->
<!--<label > Name</label>-->
<!--<input type="text" id="name" required placeholder="NAME">-->
<!--<input type="submit" id="sub" value="LogIn">-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login To My Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<table align="center">
    <tr>
        <th>
            <h1 >Welcome to Programmers Fox Club!</h1>
            <form action="post" method="/login">
                <h2>Name</h2>
                <div id="log">
                <label for="name"></label>
                <input type="text" id="name" name="name" required
                       placeholder="NAME"/>
                </div>
                <div class="button">
                        <input type="submit" id="sub" value="LogIn">
                </div>
            </form>
        </th>
    </tr>
</table>
</body>

</html>
