<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/boot.css}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <title>Todo</title>
</head>
<body>
<div id="h1">
    <h1>Todos for today! </h1>
</div>
<div class="container" id="link">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a th:href="@{/todo/}">Home</a></li>
        <li role="presentation"><a name="title"  th:href="@{/todo/?isActive=true}">Done Todos</a></li>
        <li role="presentation"><a name="title" th:href="@{/todo/?isActive=false}">Active Todos</a></li>
        <li role="presentation"><a th:href="@{/todo/add}">Add Todo</a></li>
        <li role="presentation"><a th:href="@{/todo/assignee}">Assignee</a></li>
        <li role="presentation"><a th:href="@{/todo/assignee/addAssignee}">Add Assignee</a></li>
    </ul>

    <!--<a th:href="@{/todo/}"><button type="button" class="btn btn-primary">HOME</button></a>-->
    <!--<a th:href="@{?isActive=true}"><button type="button" class="btn btn-primary">Done Todos</button></a>-->
    <!--<a th:href="@{?isActive=false}"><button type="button" class="btn btn-primary">Active Todos</button></a>-->
    <!--<a th:href="@{/todo/add}"><button type="button" class="btn btn-primary">ADD Todo</button></a>-->
</div>
<br><br>
<div class="col-sm-3">
    <div class="input-group">
        <form action="/todo/search" method="get">
            <input type="text"  name="title" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
        </form>
    </div><!-- /input-group -->
</div>
<br><br>


<table class="table table-striped">
    <tr id="top">
        <th>ID</th>
        <th>Name</th>
        <th>EMAIL</th>
        <th>REMOVE</th>
        <th>EDIT</th>

    </tr>
    <tr th:each="assignee : ${assigneelist}" th:object="${assignee}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td>
            <form method="post" action="/todo/removeassignee">
                <input type="hidden" th:value="${assignee.id}" name="removeass">
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </td>
        <td>
            <a th:href="'/todo/assignee/'+ *{id} + '/updateassignee'" class="btn-primary btn-m">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>

        </td>
    </tr>
</table>
</ul>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>