<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/boot.css}">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>Todo</title>
</head>
<body>
<div id="h1">
    <h1>Todos for today! </h1>
</div>
<div class="container" id="link">
    <ul class="nav nav-pills">
        <li role="presentation" class="tab active"><a th:href="@{/todo/}">Home</a></li>
        <li role="presentation" class="tab"><a name="title" th:href="@{/todo/?isActive=true}">Done Todos</a></li>
        <li role="presentation" class="tab"><a name="title" th:href="@{/todo/?isActive=false}">Active Todos</a></li>
        <li role="presentation" class="tab"><a th:href="@{/todo/add}">Add Todo</a></li>
        <li role="presentation" class="tab"><a th:href="@{/todo/assignee}">Assignee</a></li>
    </ul>

    <!--<a th:href="@{/todo/}"><button type="button" class="btn btn-primary">HOME</button></a>-->
    <!--<a th:href="@{?isActive=true}"><button type="button" class="btn btn-primary">Done Todos</button></a>-->
    <!--<a th:href="@{?isActive=false}"><button type="button" class="btn btn-primary">Active Todos</button></a>-->
    <!--<a th:href="@{/todo/add}"><button type="button" class="btn btn-primary">ADD Todo</button></a>-->
</div>
<br><br>
<div class="col-sm-3">
    <div class="input-group">
        <form action="/todo/search" method="get">
            <input type="text" name="title" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
        </form>
    </div><!-- /input-group -->
</div>
<br><br>

<table class="table table-bordered">
    <tr id="top">
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>CREATED</th>
        <th>REMOVE</th>
        <th>UPDATE</th>
    </tr>
    <tr th:each="todos : ${todolist}" th:object="${todos}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <div th:switch="*{urgent}">
            <td th:case="true"><span class="glyphicon glyphicon-ok " style="color: green" aria-hidden="true"></span>
            </td>
            <td th:case="false"><span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>
            </td>
        </div>
        <div th:switch="*{done}">
            <td th:case="true"><span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span></td>
            <td th:case="false"><span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>
            </td>
        </div>
        <td th:text="*{createAt}"></td>
        <td>
            <form method="post" action="/todo/remove">
                <input type="hidden" th:value="*{id}" name="removetodo">
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </td>
        <td>
            <a th:href="'/todo/'+ *{id} + '/update'" class="btn-primary btn-m">
                <button type="button" class="btn btn-primary">Update</button>
            </a>

        </td>
    </tr>
</table>
</ul>


<script>

    var allTabs = document.querySelectorAll('.tab');
    var allPanels = document.querySelectorAll('.tab-pane');
    allTabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
            var activeLi = document.querySelector('li.active');
            activeLi.className = activeLi.className.replace('active', '');
            this.className += ' active';
            var activePanel = document.querySelector('div.active');
            activePanel.className = activePanel.className.replace('active', '');
            allPanels.forEach(function (panel) {
                if (tab.id === panel.id) {
                    panel.className += ' active';
                }
            });
        });
    });


    // $('#myTabs li:eq(4) a').tab('show');

</script>
<!-- Latest compiled and minified JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>