<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<h1>Todos for today: </h1>
<div id="link">
    <a th:href="@{/todo/}">HOME</a>
    <a th:href="@{?isActive=true}">Done Todo</a>
    <a th:href="@{?isActive=false}">Active Todo</a>
    <a th:href="@{/todo/add}">ADD TODO</a>
</div>
<table>
    <tr id="top">
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>REMOVE</th>
        <th>UPDATE</th>
    </tr>
    <tr th:each="todos : ${todolist}" th:object="${todos}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{urgent}"></td>
        <td th:text="*{done}"></td>
        <td>
            <form method="post" action="/todo/remove">
                <input id="rem" type="submit" th:value="'Remove'">
                <input type="hidden" th:value="*{id}" name="removetodo">
            </form>
        </td>
        <td>
          <a th:href="'/todo/'+ *{id} + '/update'" class="btn-primary btn-m">
              <button>Update</button>
          </a>

        </td>
    </tr>
</table>
</ul>

</body>
</html>