<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title th:text="${user.name} + '\'s profile'"></title>
</head>
<body>
<h1 th:text="${user.name} + '\'s profile'"></h1>
<div>
    <h2>Todos:</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Created</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${user.todos}" th:object="${todo}">
            <td th:text="*{todoid}"></td>
            <td th:text="*{title}"></td>
            <div th:switch="*{urgent}">
                <td th:case="true"><span class="glyphicon glyphicon-ok " style="color: green" aria-hidden="true"></span>
                </td>
                <td th:case="false"><span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>
                </td>
            </div>
            <div th:switch="*{done}">
                <td th:case="true"><span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span></td>
                <td th:case="false"><span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>
                </td>
            </div>
            <td th:text="*{createAt}"></td>
            <td>
                <form method="post" action="/todo/remove">
                    <input type="hidden" th:value="*{todoid}" name="removetodo">
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
</div>
</body>
</html>