table{
    padding: 0px;
    border: 1px solid rgb(190, 190, 190);
    border-spacing: 0px;
    border-radius: 4px;

}
 th, td {
    padding: 20px;
    border: 1px solid rgb(190, 190, 190);
}

th {
    border: 1px solid rgb(190, 190, 190);
    padding: 20px 200px 20px 20px;
    background-color: #1B1E25;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;

}

body {
    background-color: #288EF3;
}

td {
    padding: 20px 200px 20px 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}
