<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Submit</title>
</head>
<body>
<h1>You Can Add Your Post:</h1>

<div id="form">
    <form  action="/submit" method="post">
        <label for="title">New Topic</label>
        <input type="text" id="title"  placeholder="Add title..." name="title" required>
        <label for="link"></label>
        <input type="text" id="link"  placeholder="Add link..." name="link" required>
        <button type="submit" class="btn btn-primary">POST</button>
    </form>
</div>
</body>
</html>